body{
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 50%, 51%, 0.92);
}
.container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(11,1fr);
    max-width: 500px;
}
.cells{
    border: 2px solid rgb(255, 255, 255);
    text-align:center;
    box-sizing: border-box;
    padding: 10px;
    color: rgba(255, 255, 255, 0.826);
    background-color: hsla(0, 42%, 46%, 0.92);
}
.dice{
    display:flex;
    flex-direction: row;
    margin: 1rem 0;
}
.dicebuttons{
    max-width: 4rem;
    max-height: 4rem;
    padding: 1rem;
}
.roll{
    padding: 1rem;
    
}
